/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Chau+Philomene+One:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*PRINCIPAL*/
.chau-philomene one-regular {
    font-family: "Chau Philomene One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.chau-philomene one-regular-italic {
    font-family: "Chau Philomene One", sans-serif;
    font-weight: 400;
    font-style: italic;
}

/*TITULAR*/
.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}
  
/*NOTICIA*/
.cousine-regular-italic {
    font-family: "Cousine", monospace;
    font-weight: 400;
    font-style: italic;
}

/*------------------------------------------------------------------------------------------------*/

/*Animaciones*/

/*VIBRAR*/
@keyframes vibrate-1 {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }


/* animation: vibrate-1 3s linear 3s infinite both; */


/*------------------------------------------------------------------------------------------------*/

/*MAIN*/
body {
    margin: 0;
    padding: 0;
    background-color: rgb(227, 219, 208);
    overflow-x: hidden;
}

p {
    font-family: "Libre Baskerville", serif;
}

#main {
    background-image: url("../img/fondo.png");
    background-size: cover;
    height: 915px;
    padding: 1px;
}

nav {
    padding: 1px;
    top: 0;
    left: 0;
    background-color:#3e3e3e41;
}

#nav-container {
    margin: 25px 300px 25px 300px;
    padding: 0 10px 0 8px;
    display: flex;
    flex-direction: row;
}

#titular {
    height: 300px;
    width: 80%;
}

#titular h1 {
    margin-top: 10%;
    margin-left: 18%;
    font-family: "Libre Baskerville", serif;
    font-size: 2em;
    color: rgb(226, 238, 244);
    animation: vibrate-1 3s linear 3s infinite both;
}

.elemento-nav {
    width: 180px;
    height: 50px;
    padding: 0 30px 0 30px;
    margin: 0;
}

.elemento-nav a {
    text-decoration: none;
    color: #3e3e3e;
    font-family: "Chau Philomene One", sans-serif;
    font-size: 1.2em;
}

.elemento-nav a:hover {
    background-color: #3e3e3e65;
    border-radius: 5px;
    padding: 5px;
}
#contenedor-logo-ancla {
    margin-right: 200px;
    width: 150px;
    height: 90px;
}

#contenedor-logo-ancla img{
    width: 150px;
    height: 90px;
}

#presentacion{
    margin-top: -40%;
    position: absolute;
    width: 100%;
}
#presentacion img{
    height: 20%;
    width: 60%;
    margin-left: 22%;
}
#presentacion-conocevc img{
    width: 60%;
    margin-left: 22%;
}
#presentacion p{
    font-size: 25px;
    color: azure;
    margin-left: 6%;
    margin-top: -0%;
}
#vuelos{
    padding: 2%;
}
#vuelos h1{
    text-align: center;
}
#vuelo1{
    background-color: peachpuff;
    padding: 2%;
    border-radius: 20px;
}
#vuelo1 p{
    position: absolute;
    margin-top: -10%;
    margin-left: 40%;
}
#vuelo2{
    background-color: peachpuff;
    padding: 2%;
    margin-top: 2%;
    border-radius: 20px;
}
#vuelo2 p{
    position: absolute;
    margin-top: -5%;
    margin-left: 40%;
}
#vuelo3{
    background-color: peachpuff;
    padding: 2%;
    margin-top: 2%;
    border-radius: 20px;
}
#vuelo3 p{
    position: absolute;
    margin-top: -9%;
    margin-left: 40%;
}
#hoteles{
    padding: 2%;
}
#hoteles h1{
    text-align: center;
}
#hotel1{
    background-color: peachpuff;
    padding: 2%;
    border-radius: 20px;
}
#hotel1 img{
width: 25%;
}
#hotel1 p{
    position: absolute;
    margin-top: -10%;
    margin-left: 25%;
    font-size: 28px;
}
#hotel1 h3{
    position: absolute;
    margin-left: 43%;
    margin-top: -15%;
}
#hotel2{
    background-color: peachpuff;
    padding: 2%;
    margin-top: 2%;
    border-radius: 20px;
}
#hotel2 p{
    position: absolute;
    margin-top: -10%;
    margin-left: 25%;
    font-size: 23px;
}
#hotel2 h3{
    position: absolute;
    margin-left: 43%;
    margin-top: -15%;
}
#hotel2 img{
    width: 25%;
}
#hotel3{
    background-color: peachpuff;
    padding: 2%;
    margin-top: 2%;
    border-radius: 20px;
}
#hotel3 p{
    position: absolute;
    margin-top: -10%;
    margin-left: 25%;
    font-size: 26px;
}
#hotel3 h3{
    position: absolute;
    margin-left: 43%;
    margin-top: -17%;
}
#hotel3 img{
    width: 25%;
}
#presentacion-lugares{
    margin-top: -40%;
    position: absolute;
    width: 100%;
}
#presentacion-lugares img{
    height: 20%;
    width: 60%;
    margin-left: 20%;
}
#presentacion-lugares p{
    font-size: 25px;
    color: azure;
    margin-left: 16%;
    margin-top: 0%;
}
#lugar1{
    padding: 2% 10% 2% 10%;
}
#lugar1 img{
    width: 40%;
    margin-left: 28%;
}
#lugar1 p{
    font-size: 23px;
}
#lugar2{
    padding: 2% 10% 2% 10%;
}
#lugar2 img{
    width: 40%;
    margin-left: 28%;
}
#lugar2 p{
    font-size: 23px;
}
#lugar3{
    padding: 2% 10% 2% 10%;
}
#lugar3 img{
    width: 40%;
    margin-left: 28%;
}
#lugar3 p{
    font-size: 23px;
}

#tours{
    padding: 2%;
    text-align: center;
}
#tours p {
    padding-left: 50%;
    padding-right: 50%;
}
#tours img{
    width: 30%;
}
#tours h1{
    text-align: center;
}
#tour1{
    background-color:rgb(170, 206, 188);
    padding: 2%;
    border-radius: 20px;
}

#tour2{
    background-color: rgb(170, 206, 188);
    padding: 2%;
    margin-top: 2%;
    border-radius: 20px;
}

#tour3{
    background-color: rgb(170, 206, 188);
    padding: 2%;
    margin-top: 2%;
    border-radius: 20px;
}


/*FOOTER*/
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}
  
.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.footer-content {
    display: flex;
    flex-wrap: wrap;
}
  
.footer-section {
    flex: 1;
    margin: 0 20px;
}
  
.footer-section h3 {
    margin-bottom: 15px;
}
  
.footer-contact span {
    display: block;
    margin-bottom: 10px;
}
  
.links ul {
    list-style: none;
    padding: 0;
}
  
.links li {
    margin-bottom: 10px;
}

.links a {
    color: rgb(116, 121, 252);
}

.links a:hover {
    color: rgb(239, 56, 102);
}
  
.footer-bottom {
    background-color: #3e3e3e;
    text-align: center;
    padding: 10px 0;
} 
